{% extends "articles/articles-base.html" %}

{% block title %} 
  <head>
    <title>{{ object.title}}</title>
  </head>
{% endblock %}
{% load static %}

<link type="text/css" rel="stylesheet" href="{% static 'articles/articles.css' %}">

{% block content %}
    <div class="row">
      <div class="col-lg-8 mx-auto">
          <ul class="list-group shadow">
              <li class="list-group-item">
                  <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                      <div class="media-body order-2 order-lg-1"> 
                          <h5>
                            
                            {{object.title}}
                            {% if user.profile.user_rights == 'admin' or user.profile.user_rights == 'employee' %}
                              <a href="{% url 'articles-delete' object.id %}">
                                <button class="btn btn-primary float-end button" href="#" role="button" id="cart_btn">Delete article</button>
                              </a>
                              <a href="{% url 'articles-update' object.id %}">
                                <button class="btn btn-primary float-end button" href="#" role="button" id="cart_btn">Update article</button>
                              </a>
                            {% endif %}
                          </h5>

                          {% if object.picture %}
                              <img src={{object.picture.url}} 
                              alt="article placeholder image" 
                              class="image-center" 
                              width="60%"
                              id="article_image">
                          {% endif %}
                          
                          <div class="d-flex align-items-center justify-content-between mt-1">
                            <p id="article-text">{{object.content}}</p>
                          </div>
                      </div>
                  </div>
              </li>
          </ul>
      </div>
  </div>
{% endblock %}