{% extends "main_site/main-site-base.html" %}
{% block title %} <title>Profile</title> {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="media-body">
            <h3 class="account-heading">{{user.username}}</h3> 
            <p class="text-secondary">{{user.email}}</p>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group" style="max-width: 50%">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ user_form | crispy }}
            {{ profile_form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>

    

{% endblock %}