{% extends "main_site/main-site-base.html" %}

{% block title %} 
  <head>
    <title>Careers</title>
  </head>
{% endblock %}

{% block content %}

<body>
    <p id="careers_text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        <br>
        Cupiditate maxime cumque optio vitae, facilis sequi. 
        <br>
        Tenetur ullam similique natus ea est, laudantium vitae delectus nostrum, 
        <br>
        consequatur id eius cupiditate atque?
    </p>
</body>
{% endblock %}