{% extends "main_site/main-site-base.html" %}

{% block title %} 
  <head>
    <title>Privacy</title>
  </head>
{% endblock %}

{% block content %}

<body>
    <h6>Privacy terms:</h6>
    <p id="privacy_text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Perspiciatis laudantium praesentium et facere voluptatum esse.
        Omnis esse earum quod? Voluptate fuga animi perferendis inventore veritatis, nihil iste iure.
        Eveniet beatae amet quas? Labore quos amet vitae ut rerum voluptatem corporis sit officiis.
        Fugiat pariatur eos eveniet ad ipsum? Repudiandae dolorem atque cupiditate explicabo adipisci
        vero unde sit voluptatibus dicta tempore reprehenderit nihil a,
        quam consequuntur omnis exercitationem saepe harum totam ab incidunt et optio illum.
        Quibusdam a, perspiciatis rem obcaecati officiis perferendis tempore eligendi repellendus in!
        Eum, ipsa architecto? Fugit libero earum sequi error officiis saepe illum,
        ducimus amet repellat animi obcaecati accusamus corporis laboriosam temporibus
        veniam beatae ad consectetur quos veritatis. Quo itaque eos veritatis atque, minima
        temporibus fugiat asperiores! Praesentium ab autem sapiente officia, aliquid optio eligendi
        minima sint unde fugiat at rerum maiores odio, expedita ipsa nesciunt culpa obcaecati similique
        harum explicabo nihil. Doloremque quas rem obcaecati nisi, dolorum nemo cupiditate aspernatur vel a unde soluta.
        Voluptatum ratione, odio delectus inventore dolorem dolore reprehenderit, voluptatem facere vitae in maiores.
        Saepe blanditiis numquam nihil quasi, beatae laudantium inventore nam libero unde esse repellat
        in ut quibusdam ipsa rem, commodi a maiores fugiat distinctio fuga. Veniam dignissimos rerum ex soluta quidem,
        hic quasi velit dolores ipsum consequuntur vel explicabo corrupti excepturi minus quos fuga ad itaque
        porro minima omnis ipsam id aperiam laudantium. Adipisci esse illum, possimus debitis illo modi praesentium,
        doloremque corrupti exercitationem ex odio, deserunt voluptatum minus? Explicabo beatae fugiat ducimus vitae
        accusamus nulla molestias ea praesentium suscipit necessitatibus eius iusto dolorem blanditiis quis odit exercitationem,
        reprehenderit ut tempore quos harum molestiae non. Quam rem sit autem est explicabo nemo id eum exercitationem enim.
        Quae magni ab sint blanditiis unde aliquam cum, magnam, soluta facere voluptas hic, totam itaque. Velit eos, similique
        reprehenderit dolor suscipit fuga eius blanditiis delectus, voluptatibus tenetur esse ab accusantium. Omnis vel expedita
        tempore, at saepe cumque laboriosam quod, sint quas delectus accusamus eum libero tempora veniam inventore nam facilis
        magnam blanditiis a corrupti exercitationem ipsum quibusdam voluptates? Facilis repudiandae corporis, molestias quasi
        debitis dolores reprehenderit eaque quidem neque consectetur dolore repellat? Saepe vel harum vitae libero porro veniam
        reprehenderit distinctio magni iure similique debitis exercitationem laboriosam, est illo quibusdam ipsa dolorum rem
        fuga minima, minus provident sit quasi! Obcaecati, doloremque quae vitae veritatis, aspernatur voluptates sunt expedita
        necessitatibus exercitationem, enim numquam est iste corporis rem et distinctio consequuntur autem quis? Minus quia
        ullam amet. Nam eaque commodi expedita itaque doloremque! Error illo aut et. Eos, sapiente ea. Natus, reprehenderit
        inventore quaerat voluptatem assumenda debitis. Ad eos dolorum atque ab ipsa similique ducimus, mollitia distinctio
        consectetur qui in ut aut totam pariatur. Vel quidem eius reiciendis recusandae tenetur! Ea ipsa voluptatum maxime! Hic
        pariatur molestias corrupti nulla veniam. Architecto tempora provident quisquam. Laboriosam numquam corrupti consectetur
        maxime aut sequi, quae cumque quos ex omnis ut a ad animi exercitationem nihil repellat dolorem ipsam quam
        necessitatibus ducimus dignissimos amet vitae atque quidem? Explicabo amet consequuntur odit, ratione dicta vitae
        temporibus eveniet expedita ipsum quaerat voluptas commodi natus exercitationem id assumenda distinctio quo obcaecati
        inventore dolor atque omnis iusto. Odit distinctio exercitationem dolore labore molestias? Quis, corporis, provident id
        eaque quae, dolores eligendi cum laborum sequi dolorum dolorem unde reprehenderit delectus voluptate ducimus odit.
        Accusantium officiis, odit eligendi aliquam similique quam maxime deserunt! Quidem, provident optio. Temporibus,
        sapiente repellat quaerat repudiandae excepturi accusamus dolore beatae distinctio saepe dolor culpa asperiores debitis
        consequuntur. Sed ratione vitae nulla ipsa, adipisci possimus, atque veritatis voluptatibus accusantium consectetur
        nostrum, commodi quis! Magni hic, nesciunt obcaecati provident rerum eum sequi totam, repellat dolor culpa libero ullam
        laudantium! Vel ratione quam, tempora aliquam provident accusantium molestias ipsam earum quisquam eos doloribus aperiam
        odio exercitationem rerum quidem qui ullam fugiat error cupiditate! Cum ut molestias, asperiores iure inventore
        nesciunt, quasi quo reprehenderit accusamus, vel sed! Repudiandae, eligendi dolores cumque cupiditate voluptates quia
        perferendis earum amet hic possimus delectus, ea deleniti. Quos inventore quam corrupti saepe eaque rem? Nihil
        dignissimos, hic voluptates ipsam reiciendis nam cumque enim, nulla quam dolorum quasi dolor voluptate, debitis veniam.
        Nam animi repudiandae rem soluta. Sapiente voluptatibus reiciendis quam maxime earum voluptatem animi praesentium,
        laudantium debitis nisi. Nam cumque voluptatum sint nobis suscipit nisi error dolorem odit dolorum quo illum repellat
        distinctio, doloremque eligendi, officia dolor rem? Placeat, laboriosam nobis et unde rerum deserunt! Nobis, reiciendis
        facere sunt omnis voluptas repellat illo nostrum perspiciatis quam molestias id porro ex laborum consectetur minima
        deserunt! Aliquam, sed voluptate tenetur tempora deleniti modi ullam rerum! Voluptates, quod deserunt. Quisquam
        consectetur totam ipsam tenetur minima fugit, alias culpa rem nisi nesciunt nostrum vero repudiandae eaque quasi
        quibusdam qui, quis sed? A perferendis quo itaque veritatis excepturi beatae sapiente voluptas autem nihil quaerat iure,
        labore sint eius architecto natus! Sequi, earum quae, laborum quisquam atque quidem numquam commodi obcaecati qui,
        accusamus maiores nihil odit reprehenderit neque fugiat cumque ipsam amet quaerat ex! Ipsum rerum vel explicabo ad
        fugiat placeat similique consequuntur voluptas laudantium natus nesciunt, neque perferendis amet asperiores eos nostrum,
        ullam, veritatis corporis dolorem at ea. Molestias, inventore neque animi atque cum magni facere! Quas esse velit, sequi
        voluptates dignissimos accusamus aspernatur corporis doloremque nemo ad totam, pariatur incidunt quisquam alias maxime
        fugiat ullam, architecto a neque inventore ipsum nam cupiditate eaque. Officia quos molestias tenetur perspiciatis, unde
        illum ad est saepe a velit tempora dolorum rerum inventore, aut pariatur facilis natus! Recusandae, dolore ut possimus
        eum quibusdam quos ipsum amet pariatur rem, aperiam doloribus reprehenderit enim, eius expedita quam distinctio
        explicabo! Voluptate ipsam nobis sapiente quibusdam. Eveniet, sint? Ab eos alias accusantium est nemo doloremque,
        quibusdam, molestiae beatae praesentium ullam consequatur, quae nostrum. Nobis, et reiciendis. Aspernatur nisi nesciunt,
        optio aut cumque eaque suscipit odio iusto deserunt nihil laboriosam, rem asperiores eos quis reprehenderit ullam nam
        modi unde minima velit perspiciatis illum tempora autem? Earum nihil soluta vel tenetur, vero distinctio voluptatibus
        aliquid aliquam fugiat voluptate corrupti consequatur ut magni debitis maxime asperiores dolorem ducimus aut quia
        repellendus et! Sed, illum. Pariatur dolorum, temporibus est a quas error tempora magni similique.
        </p>
</body>
{% endblock %}