{% extends "products/products-base.html" %}
{% block content %}

<head>
  <title>Product</title>
</head>
<body>
    {% for product in products %}
    
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <ul class="list-group shadow">
                <li class="list-group-item">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                          
                            <p class="mt-0 font-weight-bold mb-2">{{product.title}}</p>
                            {% if product.get_brand_display != '' %} 
                              <form method="POST" action="{% url 'shop-brand' %}" name="brand_search_form">
                                {% csrf_token %}  
                                <button 
                                  type="submit"
                                  class="btn btn-link"
                                  name="brand_search" 
                                  value="{{product.brand}}">
                                  {{product.get_brand_display}}
                                </button>
                              </form>
                            {% else %}
                              <br>
                            {% endif %}
                            {% if product.picture %}
                                <img src={{product.picture.url}} alt="product placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                            {% endif %}
                            
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{% if product.price > product.discounted_price %} 
                                    <del>{{product.price}}</del> <ins style="color:red">{{product.discounted_price}}</ins>
                                    {% else %}
                                        {{product.price}}
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                        
                        {% if product.number_in_stock == 0 %}
                          <p>Out of stock</p>
                        {% else %}
                          <form method="POST">
                            <input type="number" step="1" min="0" max="{{product.number_in_stock}}" value="0" name="medicine_qty" class="quantity-field">
                            <button class="btn btn-outline-primary add" type="submit">Add To Cart</button>
                          </form>
                        {% endif %}
                        
                        <p>
                            {{product.description}}
                        </p>
                        
                    </div>
                </li>
            </ul>
        </div>
        
    </div>
{% endfor %}
    </body>
{% endblock %}